<div class="container">
  <div class="buttongroup">
    <a class="button" (click)="setAlarm()">
      <span class="material-icons">alarm_on</span>
      <span class="text">Activar Alarma</span>
    </a>
    <a class="button" (click)="disableAlarm()">
      <span class="material-icons">alarm_off</span>
      <span class="text">Desactivar Alarma</span>
    </a>
    <a class="button" (click)="turnOnAlarm()">
      <span class="material-icons">volume_up</span>
      <span class="text">Encender Alarma</span>
    </a>
    <a class="button" (click)="turnOffAlarm()">
      <span class="material-icons">volume_off</span>
      <span class="text">Apagar Alarma</span>
    </a>
    <a class="button" (click)="calibrateDevice()">
      <span class="material-icons">adjust</span>
      <span class="text">Calibrar Dispositivo</span>
    </a>
  </div>
</div>